<h1>Our Flats</h1>
<br>
    <div>
        <% @flats.each do |flat| %>
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div>
                <p><%= link_to flat.name, flat_path(flat) %></p>
                <p><%= flat.address%></p>
                <p><%= 'ðŸ§' * flat.number_of_guests%></p>
              </div>
              <div>
                <h2 class="card-trip-pricing"><%= flat.price_per_night%>â‚¬</h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>
            </div>
          </div>
          <% end %>
</div>
<br>
<%= link_to 'Create New Flat', new_flat_path, class: "btn btn-primary"%>
