<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h1><%= @flat.name%></h1>
      <br>
      <h2>Address: </h2>
      <p><%= @flat.address%></p>
      <h2>Description: </h2>
      <p><%= @flat.description%></p>
      <h2>Number of guests: </h2>
      <p><%= 'ðŸ§' * @flat.number_of_guests%></p>
    </div>
    <h2 class="card-trip-pricing"><%= @flat.price_per_night%>â‚¬</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <div>
      <%= link_to 'Edit Flat', edit_flat_path(@flat), class:"btn btn-warning"%>
      <%= link_to flat_path(@flat), method: :delete,
                          data: { confirm: "Are you sure?" } do %>
                  <div class="btn btn-danger">Delete Flat</div>
                <% end %>
      <div>
        <a class="btn btn-success" href="/flats">Back to flats</a>
      </div>
    </div>
  </div>
</div>
